<div class="container pt-5">

    <form [formGroup]="contatoForm">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input  formControlName="nome" type="text" class="form-control" id="nome" placeholder="Nome" [class.is-invalid]="exibeErro('nome')">
        </div>

        <div class="form-group">
            <label for="cpf">CPF</label>
            <input  formControlName="cpf" type="text" class="form-control" id="cpf" placeholder="CPF" [class.is-invalid]="exibeErro('cpf')">
        </div>

        <div class="form-group">
            <label for="banco">Banco</label>
            <input formControlName="banco" type="text" class="form-control" id="banco" placeholder="Banco" [class.is-invalid]="exibeErro('banco')">
        </div>

        <div class="form-group">
            <label for="ag">Agência</label>
            <input formControlName="ag" type="text" class="form-control" id="agencia" placeholder="Agência" [class.is-invalid]="exibeErro('ag')">
        </div>

        <div class="form-group">
            <label for="cc">Conta corrente</label>
            <input formControlName="cc" type="text" class="form-control" id="cc" placeholder="Conta" [class.is-invalid]="exibeErro('cc')">
        </div>     

        <button class="btn btn-secondary " (click)="onSubmit()">Criar contato</button>
    </form>
</div>
